[grid]
dew = 4000.
dns = 4000.
ewn = 416
nsn = 704
upn = 11

[GLAD climate]
evolve_ice = 0

[options]
basal_mass_balance = 1
basal_water = 0
calving_domain = 1
dycore = 2
evolution = 3
flow_law = 2
gthf = 0
hotstart = 0
isostasy = 0
marine_margin = 1
sigma = 0
slip_coeff = 0
temp_init = 2
temperature = 1
vertical_integration = 0

[time]
dt = 0.05
dt_diag = 1.
idiag = 95
jdiag = 285
ntem = 1

[parameters]
basal_tract_const = 1.e-4
flow_factor = 1.
geothermal = -5.e-2
hydro_time = 1000.
ice_limit = 1.
log_level = 6
marine_limit = -200.
max_slope = 0.1

[ho_options]
glissade_maxiter = 50
which_ho_approx = 4
which_ho_assemble_beta = 0
which_ho_assemble_bfric = 1
which_ho_babc = 4
which_ho_disp = 1
which_ho_efvs = 2
which_ho_flotation_function = 1
which_ho_gradient = 0
which_ho_gradient_margin = 1
which_ho_ground = 0
which_ho_nonlinear = 0
which_ho_precond = 1
which_ho_resid = 3
which_ho_sparse = 3

########################################
# I/O configuration follows
########################################

[CF default]
title: Glimmer-CISM simulation
institution: Community Earth System Model

[CF input]
name: /glade/p/cesmdata/cseg/inputdata/glc/cism/Greenland/glissade/init/greenland_4km_epsg3413_bheatflxPos_c170501.nc
